/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
    .toggle-menu-icon {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .navbar ul {
        display: none;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle-menu-icon {
        width: 24px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        padding: 48px;
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer .separate {
        border-top: 1px solid #ebebeb;
    }

    .hero-img {
        display: none;
    }

    .hero .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero .desc {
        width: 70%;
        margin: 30px auto auto;
        text-align: center;
    }

    .client .row.row-client {
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-guide .guide-item {
        margin: 0;
        flex: 1;
    }

    .features .list {
        grid-template-columns: repeat(2, 1fr);
    }

    .stats .row {
        flex-direction: column;
    }

    .stats .img-block,
    .stats .info {
        width: 100%;
    }

    .stats .img-block {
        order: 2;
        margin-top: 80px;
    }

    .stats .info {
        padding: 0;
        order: 1;
    }

    .stats .info .sub-title {
        width: 60%;
    }

    .stats .row.row-qty {
        flex-direction: row;
    }

    .stats .row.row-qty .qty {
        font-size: 5rem;
    }

    .stats .row.row-qty .qty-desc {
        font-size: 1.5rem;
    }

    .subscription .body .subscript-img {
        display: none;
    }

    .footer .row-top {
        display: grid;
        grid-template-columns: 1fr 2fr;
        row-gap: 80px;
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .hide-on-mobile {
        display: none;
    }

    .menu-drawer {
        padding: 38px;
        inset: 0 25% 0 0;
    }

    .navbar .actions {
        display: none;
    }

    .header {
        height: calc(100vh - 70px);
    }

    .hero .sub-title {
        margin-top: 64px;
        font-size: 1.5rem;
    }

    .hero .title {
        margin-top: 16px;
        font-size: 5.2rem;
    }

    .hero .desc {
        width: 100%;
    }

    .row-client {
        row-gap: 20px;
    }

    .list-guide {
        flex-direction: column;
        row-gap: 50px;
    }

    .guide-cta {
        margin-top: 70px;
    }

    .features .link {
        display: none;
    }

    .features .list {
        grid-template-columns: 1fr;
    }

    .features .view-all {
        display: flex;
        justify-content: center;
        margin-top: 60px;
    }

    .stats .info .sub-title {
        width: 100%;
    }

    .stats .img-block .stat-img {
        width: 100%;
    }

    .stats .stats-trend {
        top: -20px;
        left: -20px;
        border-radius: 12px;
    }

    .stats .row.row-qty {
        flex-direction: column;
        align-items: center;
        row-gap: 60px;
    }

    .subscription .body .info {
        margin: 42px 32px;
    }

    .subscription .body {
        height: auto;
    }

    .footer .row-top {
        grid-template-columns: 1fr;
    }

    .footer .row-bottom {
        flex-direction: column;
        align-items: flex-start;
        row-gap: 24px;
    }
}

/* Mobile SE */
@media screen and (max-width: 576px) {
    .content {
        max-width: calc(100% - 32px);
    }
    .header {
        padding-top: 32px;
    }

    .features .sub-title {
        font-size: 3rem;
    }
}
