/* PC */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }
    .show-on-mobile {
        display: none;
    }
    .toggle-menu-icon {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {
    .navbar {
        position: relative;
    }

    .navbar ul {
        display: none;
    }

    .navbar .logo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .toggle-menu-icon {
        width: 24px;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 1;
        opacity: 0;
        visibility: hidden;
        transition: 0.5s ease;
    }

    .menu-drawer {
        padding: 48px;
        position: fixed;
        inset: 0 40% 0 0;
        background-color: #fff;
        z-index: 2;
        transform: translateX(-100%);
        transition: transform 0.5s;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 14px 0;
        color: #333;
        font-weight: 500;
    }

    .menu-checkbox:checked ~ .menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked ~ .menu-drawer {
        transform: translateX(0);
    }

    .menu-drawer .separate {
        border-top: 1px solid #ebebeb;
    }

    .hero-img {
        display: none;
    }

    .hero .info {
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .hero .desc {
        width: 70%;
        margin: 30px auto auto;
        text-align: center;
    }

    .client .row.row-client {
        flex-wrap: wrap;
        justify-content: center;
    }

    .list-guide .guide-item {
        margin: 0;
        flex: 1;
    }

    .features .list {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }
}

/* Mobile */
@media screen and (max-width: 767.98px) {
    .menu-drawer {
        padding: 38px;
        inset: 0 25% 0 0;
    }

    .navbar .actions {
        display: none;
    }
}
